appimage-runtime/.spack-env/
appimage-runtime/install/
appimage-runtime/runtime
appimage-runtime/runtime.o
appimage-runtime/spack.lock
appimage-runtime/view/
bootstrap-spack/.spack-env/
bootstrap-spack/install/
bootstrap-spack/spack.lock
bootstrap-spack/view/
output/*.x
output/*.squashfs
bootstrap-spack/spack/*
bootstrap-spack/spack/.*
spack-cc-*
*.swp
ccache/*
source_cache/*
