build/*/.spack-env
build/*/install
build/*/runtime-*
build/*/spack.lock
build/*/view
build/*/._view
build/6_spack/spack_src
build/output/*
*.o
*.x
*.squashfs
spack-cc-*
*.swp
build/ccache/*
build/source_cache/*
prune
make_relative_env
rootfs
fix_file
